{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page_title %}Login{% endblock %}
{% block content %}<div class="card"><div class="card-body"><form method="POST">{{ form.hidden_tag() }}<div class="mb-3">{{ form.email.label(class="form-label") }}{{ form.email(class="form-control") }}</div><div class="mb-3">{{ form.senha.label(class="form-label") }}{{ form.senha(class="form-control") }}</div><div class="mb-3">{{ form.remember() }} {{ form.remember.label }}</div>{{ form.submit(class="btn btn-primary") }}</form></div></div>{% endblock %}
